<% if @syslog_flavour == "rsyslog" %>
# Load imklog module to gather kernel messages
# http://www.rsyslog.com/doc/rsyslog_conf_modules.html/imklog.html
$ModLoad imklog
<% end %>

# Log all kernel messages to the console.
# Logging much else clutters up the screen.
#kern.*                                                 /dev/console

# Log anything (except mail) of level info or higher.
# Don't log private authentication messages!
*.info;mail.none;authpriv.none;cron.none                /var/log/messages

# The authpriv file has restricted access.
authpriv.*                                              /var/log/secure

# Log all the mail messages in one place.
mail.*                                                  -/var/log/maillog

# Log cron stuff
cron.*                                                  /var/log/cron

# Everybody gets emergency messages
*.emerg                                                 *

# Save news errors of level crit and higher in a special file.
uucp,news.crit                                          /var/log/spooler

# Save boot messages also to boot.log
local7.*                                                /var/log/boot.log

# Graylog2 server
<% if @graylog_server %>
*.info;mail.none;authpriv.none;cron.none                @<%= @graylog_server %>
<% end %>

local5.*                                                /var/log/casper/icinga-alerts.log
